@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "Neue Haas Grotesk Text Pro";
  src: url("fonts/NeueHaasDisplayMediu.ttf") format("truetype");
  font-style: normal;
} */

body,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all 0.2s linear;
  font-family: "Neue Haas Grotesk Text Pro", sans-serif;
}
